extends _template
include _mixin
block vars
block outerMain
block content
	-
		var arr = [
			{
				// section01
				section_title: 'aタグ単体のシンプルなやつ',
				section_comment: 'p > a<br>議事要素は甘え',
				btns: [
					{// 00
						time: '2017/06/28',
						comment: '標準過ぎてあくびが出る',
						tags: ['background-color'],
					},{
						time: '2017/06/28',
						comment: '当たり前だけど文字も薄れる',
						tags: ['background-color'],
					},{
						time: '2017/06/28',
						comment: 'lighten(), とかdarken()とかもあるよ',
						tags: ['background-color'],
					},{
						time: '2017/06/28',
						comment: 'んん？',
						tags: ['background-position'],
					},{
						time: '2017/06/28',
						comment: '使い時（笑）',
						tags: ['background-size', 'background-position'],
					},{
						time: '2017/06/28',
						comment: '',
						tags: ['border', 'background'],
					},{
						time: '2017/06/28',
						comment: 'こういう系はhtmlに画像置いたほうがやりやすい',
						tags: ['background'],
					},{
						time: '2017/06/28',
						comment: 'filter系は対応がまだ少ない',
						tags: ['filter'],
					},{
						time: '2017/06/28',
						comment: 'filter系は対応がまだ少ない',
						tags: ['filter'],
					},{ //10
						time: '2017/06/28',
						comment: 'filter系は対応がまだ少ない',
						tags: ['filter'],
					},{
						time: '2017/06/28',
						comment: 'filter系は対応がまだ少ない',
						tags: ['filter'],
					},{
						time: '2017/06/28',
						comment: 'filter系は対応がまだ少ない',
						tags: ['filter'],
					},{
						time: '2017/06/28',
						comment: 'filter系は対応がまだ少ない',
						tags: ['filter'],
					},{
						time: '2017/06/28',
						comment: 'filter系は対応がまだ少ない',
						tags: ['filter'],
					},{// 15
						time: '2017/06/28',
						comment: '',
						tags: ['drop-shadow'],
					},{
						time: '2017/06/28',
						comment: '',
						tags: ['drop-shadow'],
					},{
						time: '2017/06/28',
						comment: '',
						tags: ['text-shadow'],
					},{
						time: '2017/06/28',
						comment: '',
						tags: ['text-shadow'],
					},{
						time: '2017/06/28',
						comment: 'ボタンの押した感<br>あえてtransitionなし',
						tags: ['border', 'transform'],
					},{
						time: '2017/06/28',
						comment: '正方形なら50%で正円にできるよね',
						tags: ['border-radius'],
					},{
						time: '2017/06/28',
						comment: '',
						tags: ['letter-spacing'],
					},
				]
			},{
				// section01
				section_title: '議事要素に手を出す①',
				section_comment: 'ここにsectionのコメントが入ります。2',
				btns: []
			}
		];
	each section, section_index in arr
		- var sec_id = section_index<10? '0'+section_index: section_index;
		section
			h2!=section.section_title
			p!=section.section_comment
			.block__wrapper
				each btn, btn_index in section.btns
					- var btn_id = btn_index<10? '0'+btn_index: btn_index;
					- var btn_id = 'id_' + sec_id + '_' + btn_id;
					.block
						span.block__time!=btn.time
						span.block__id!=btn_id
						.block__view(id=btn_id)
							p: a(href='#') button
						if(btn.comment)
							p.block__comment!=btn.comment
						.block__code
							pre: code
								+btn_scss_code(btn_id)
						ul.block__tag
							each tag in btn.tags
								li.block__tag-item!=tag